@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.mesa-02 {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;

  aside {
    height: 100vh;
    position: fixed;
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #102766;
  }

  main {
    width: 72%;
    position: absolute;
    right: 0;
    padding: 70px 50px;
    background: #ffffff;

    .title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 35px;

      .page-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #343434;
      }

      .tasks-total {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #343434;
      }
    }

    .tasks-list {
      display: flex;
      flex-direction: column;
      gap: 26px;
    }
  }
}
